
* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 body {
    background-image: url("mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .caixa-maior{
    background-color: rgb(27, 53, 20);
    width: 450px;
    border-radius: 25px;
    padding: 20px;
 }
 .input-texto{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
 }
 .idioma{
    width: 100%;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    background-color: rgb(44, 78, 35);
    color: #ffffff;
    font-size: 17px;
 }
 button{
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
 }
 .controle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .resultado{
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
 }
 .titulo-traducao{
    color: #cfeecec5;
    font-size: 16px;
    margin-bottom: 10px;
 }
 .traducao{
    color: #ffffffcd;
    font-size: 18px;
    margin-bottom: 5px;
 }